{% extends 'blog/base.html' %}
{% block content %}

        <article class="media content-section">
            <img class="rounded-cirlce article-img" src="{{ object.author.profile.image.url }}" alt="">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="#">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted }}</small> <br>
                  {% if object.author == user %}

                    <div>
                        <h2><a class="article-title" href="{% url 'blog-detail' post.id %}">{{posts.title}}</a></h2>
                        <p class article-content'>{{posts.content}}</p>
                    </div>
                    <br>
                    </article>
  {% endif %}
{% endblock content %}